$linear-gradient: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
$principal-font: #fff;
$secondary-font: #777;
$principal-background: rgba(226,0,0,0.7);
$secondary-background: #fff3ff;
$frst-btn-font: #f44336;
$sec-btn-font: #f0f0f0



