/*=============== ABOUT PAGE ===============*/


.sub__header{
    height: 50vh;
    width: 100%;
    background-image: $linear-gradient, url(../img/about.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: $principal-font;

    h1 {
        margin-top: 50px;
    }
}


/*------------ GRIDS -----------------*/

.about__us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    column-gap: 30px;

    .about__row {
        display: grid;
        column-gap: 80px;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;

        @include tablet {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            column-gap: 0px;
        }

        .about__col{
            padding: 30px 2px;

            h2 {
                padding-top: 0;
            }

            p {
                padding: 15px 0 25px;
                text-align: left;

                @include tablet {
                    margin-left: 0px;
                }

                @include mobile {
                    font-size: 0.8rem;
                }
            }

            a{
                margin: 10px 0;
                color: $frst-btn-font;
                border: 1px solid $frst-btn-font;
            }

            a:hover{
                color: $sec-btn-font;
                border: 1px solid $frst-btn-font;
            }
        }
    }

    .about__col{
    
        img{
        width: 100%;
        box-shadow: 2px 4px 3px #777;
        }
    }
    
}